<%= content_for(:after_js) do %>
  <script>
      $(document).ready(function(){
          $('.owl-carousel').owlCarousel();
      });
  </script>
<% end %>

  <div class="owl-carousel w-full mx-auto flex flex-col justify-center">
    <% images.each do |image| %>
      <div class="bg-cover h-60 w-full m-0" style="background-image: url('<%= image_url(image) %>'); background-size: contain; background-repeat: no-repeat; background-position:center;"></div>
    <% end %>
  </div>

  <script>
      $(document).ready(function(){
          $('.owl-carousel').owlCarousel({
              stagePadding: 2,
              autoHeight: true,
              loop: true,
              margin: 0,
              responsive:{
                  0:{
                      items:1
                  },
                  600:{
                      items:1
                  }
              }
          })
      });
  </script>