<% if @hide_nav %>
  <% 4.times do %>
    <div class="w-28 lg:w-32 rounded-lg text-center p-5 h-12 md:h-16 flex items-center flex-column justify-center">
    </div>
  <% end %>
<% else %>
  <% nav_items.each do |item| %>
    <%= link_to item[:path], remote: true do %>
      <div class="text-sm w-20 lg:w-32 border rounded-lg text-center md:border p-2 lg:p-5 h-12 md:h-16 flex items-center flex-column justify-center hover:bg-gray-100 hover:text-indigo-800 <%= @skill %>">
        <%= item[:name].titleize %>
      </div>
    <% end %>
  <% end %>
<% end %>