<span class="text-white text-2xl md:text-xl font-bold pb-0 mx-0 md:pb-2">
    @professional_experience.each
</span>
<span class="text-pink-600 text-xl md:text-xl font-bold w-full">
  do
  </span>
<span class="text-yellow-500 text-xl md:text-xl font-bold pr-3 w-full">
  |experience|
</span>
<div class="ml-5">
  <div class="pl-8 my-3 bg-whitesmoke py-2">
    <div class="text-sm md:text-xl lg:text-2xl pt-1 w-full pb-0 md:pb-1 text-pink-600 font-bold">
      Web Developer Principal
    </div>
    <div class="text-lg">
      University of Georgia SNAP Education
    </div>
    <div class="text-sm">
      June 2020 - Present
    </div>
    <hr class="my-2" />
    <div class="my-1">
      • Improved, maintained, and scaled FoodTalk.org using Ruby 2.6.3, Rails 5.1.7, Bootstrap, jQuery and more
    </div>
    <div class="my-1">
      • Introduced test-driven development into the codebase with RSpec, Capybara, and Selenium
    </div>
    <div class="my-1">
      • Utilized GitLab version control working both as a small, collaborative team and independently
    </div>
    <div class="my-1">
      • Created frequent custom solutions for team requests and debugging
    </div>
    <div class="my-1">
      • Refactored application architecture to support growing partner organizations and expansion outside Georgia
    </div>
  </div>

  <div class="pl-8 my-3 bg-whitesmoke py-2">
    <div class="text-sm md:text-xl lg:text-2xl pt-1 w-full pb-0 md:pb-1 text-pink-600">
      Vice President/Owner-Operator
    </div>
    <div class="text-lg">
      Generation Fitness
    </div>
    <div class="text-sm">
      May 2018 - Dec 2019
    </div>
    <hr class="my-2" />
    <div class="my-1">
      • Increased monthly club revenue from $15,000 to $26,000
    </div>
    <div class="my-1">
      • Increased monthly membership dues by $5,700
    </div>
    <div class="my-1">
      • Designed and launched www.mygenerationfitness.com
    </div>
    <div class="my-1">
      • Configured and troubleshot club management software for digital contracts, Point of Sale, sales reporting, and payroll
    </div>
    <div class="my-1">
      • Lead team of personal trainers and member service staff
    </div>
  </div>

  <div class="pl-8 my-3 bg-whitesmoke py-2">
    <div class="text-sm md:text-xl lg:text-2xl pt-1 w-full pb-0 md:pb-1 text-pink-600">
      Club Manager
    </div>
    <div class="text-lg">
      Cardio Express Fitness Centers
    </div>
    <div class="text-sm">
      Jan 2016 - April 2018
    </div>
    <hr class="my-2" />
    <div class="my-1">
      • Manage staff of 8-12 trainers, front desk, and cleaning staff
    </div>
    <div class="my-1">
      • Produce 40-50% of monthly membership sales
    </div>
    <div class="my-1">
      • Consistently meet or exceed sales KPI's
    </div>
    <div class="my-1">
      • Promoted from Assistance Manager to General Manager in June 2016
    </div>
  </div>
</div>
<span class="text-pink-600 text-xl md:text-xl font-bold bg-my-gray pr-3 w-full mb">
    end
</span>

<hr class="my-4" />

<div class="w-3/4">

  <span class="text-white text-2xl md:text-xl font-bold pb-0 mx-0 md:pb-2">
    @education.each
  </span>
  <span class="text-pink-600 text-xl md:text-xl font-bold w-full">
    do
  </span>
  <span class="text-yellow-500 text-xl md:text-xl font-bold pr-3 w-full">
    |education|
  </span>
  <div class="ml-5 w-full">
    <div class="pl-8 my-3 bg-whitesmoke py-2">
      <div class="text-sm md:text-xl lg:text-2xl pt-1 w-full pb-0 md:pb-1 text-pink-600">
        Full Stack Web Development
      </div>
      <div class="text-lg">
        University of Central Florida
      </div>
      <div class="text-sm">
        July 2019 - Jan 2020
      </div>
      <hr />
      <div class="text-xs my-2">
        Coursework in Ruby, Ruby on Rails, JavaScript, logarithms, and data structures.
      </div>
    </div>
    <div class="pl-8 my-3 bg-whitesmoke py-2">
      <div class="text-sm md:text-xl lg:text-2xl pt-1 w-full pb-0 md:pb-1 text-pink-600">
        Bachelor of Science - Applied Economics
      </div>
      <div class="text-lg">
        Florida State University
      </div>
      <div class="text-sm">
        Aug 2012 - Dec 2015
      </div>
      <hr />
      <div class="text-xs my-2">
        Coursework in Econometrics, data analytics, financial markets and monetary policy, accounting, marketing, and entrepreneurship.
      </div>
    </div>
  </div>
  <span class="text-pink-600 text-xl md:text-xl font-bold bg-my-gray pr-3 w-full">
    end
  </span>
</div>
