<div class="bg-white rounded border shadow-md px-2 text-gray-900 uppercase text-white grid grid-cols-4 md:grid-cols-6 w-full">
  <% skills.each do |skill, image| %>
    <div class="text-center text-md mx-auto my-5 font-bold">
      <%= image_tag(image, class: "mx-auto my-2 justify-self-center") %>
      <div class="mx-auto tracking-wide my-2"><%= skill %></div>
    </div>
  <% end %>
</div>

